body{
    height: 100vh;
    font-family: 'Muli', sans-serif;
    background: #e1e1e1;
    text-align: center;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.key{
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    background-color: #eee;
    border: 1px solid #999;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;

    display: inline-flex;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.key small{
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #555;
    
    position: absolute;
    top: -24px;
    left: 0;
}